ffmpeg-python==0.2.0
ipykernel==6.20.2
ipython==8.9.0
ipywidgets==8.1.6
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.14
keras==3.9.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nodeenv==1.9.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==2.0.0
opencv-contrib-python==4.5.5.62
opencv-contrib-python-headless==4.11.0.86
pandas==2.2.3
Pillow==10.0.0
seaborn==0.13.0
tensorboard==2.19.0
tensorboard-data-server==0.7.1
tensorflow==2.19.0
tensorflow-datasets==4.9.7
tensorflow-estimator==2.13.0
tensorflow-hub==0.16.1
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
tf_keras==2.19.0
tensorflow_probability==0.24.0
tqdm==4.66.1